<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}{% unless page.layout == "home" %} — Peter Anglea{% endunless %}</title>
    {% include gtm-script.html %}
    <meta name="description" content="{{page.description}}">
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="canonical" href="{{site.url}}{{page.url}}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{page.title}}{% unless page.layout == "home" %} — Peter Anglea{% endunless %}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:site_name" content="{{site.name}}" />
</head>
<body>
{% include gtm-noscript.html %}
    <header>
        <div class="constraint">
            <div class="header-home">
                <a href="/">Peter Anglea</a>
            </div>
            <div class="header-nav-toggle">
                <div class="menu-button"><button><span></span>Menu</button></div>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="{% link bio.md %}">About/Bio</a></li>
                    <li><a href="{% link music.md %}">Music</a></li>
                    <li><a href="{% link contact.md %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>