footer {
    padding: 4rem 0;
    text-align: center;
    background-color: #18181e;
    background-image: url('/assets/images/waves.svg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    font-size: .9rem;
    color: #ccc;

    p + p {
        margin-top: 1.5em;
    }
}